Source: jvlite
Maintainer: Tristan Youngs <tristan.youngs@stfc.ac.uk>
Section: science
Priority: optional
Build-Depends: debhelper (>= 9), bison, libtool, chrpath, qtbase5-dev, libqt5svg5-dev, libhdf5-dev

Package: jvlite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qtbase5, libqt5svg5, libhdf5
Description: ISIS Journal Viewer Lite
 JournalViewer is a GUI app that allows journal (log) files from run data taken
 at the ISIS Pulsed Neutron and Muon Source, Rutherford Appleton Lab, to be 
 probed and plotted.
