[Desktop Entry]
Version=1.8.4
Encoding=UTF-8
Comment=ISIS Journal Viewer (Lite Version)
Exec=jvlite %f
GenericName=JournalViewerLite
Icon=JournalViewerLite
Name=JournalViewerLite
StartupNotify=false
Terminal=0
Type=Application
Categories=Science;
X-SuSE-translate=false
