Source: jv
Maintainer: Tristan Youngs <tristan.youngs@stfc.ac.uk>
Section: science
Priority: optional
Build-Depends: debhelper (>= 9), bison, libtool, chrpath, qt54base

Package: jv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, qt54base, qt54svg
Description: ISIS Journal Viewer
 JournalViewer is a GUI app that allows journal (log) files from run data taken
 at the ISIS Pulsed Neutron and Muon Source, Rutherford Appleton Lab, to be 
 probed and plotted.
