trigger: none

pr:
  autoCancel: true
  branches:
    include:
      - "*"
  paths:
    exclude:
    - .azure-pipelines/continuous.yml
    - .azure-pipelines/release.yml

jobs:
  - job: 'windows'
    displayName: 'Windows Build'
    pool:
      vmImage: 'windows-latest'
    steps:
      - checkout: self
        fetchDepth: 1
      - template: templates/windows.yml
      - template: templates/windows_package.yml
      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: "packages/"
          ArtifactName: 'windows-artifacts'
        displayName: 'Publish Windows Artifacts'

  - job: 'linux'
    displayName: 'Ubuntu Build'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
      - checkout: self
        fetchDepth: 1
      - template: templates/linux.yml
      - template: templates/linux_package.yml
      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: "packages/"
          ArtifactName: 'linux-artifacts'
        displayName: 'Publish Linux Artifacts'

  - job: 'osx'
    displayName: 'OSX Build'
    pool:
      vmImage: 'macos-latest'
    steps:
      - checkout: self
        fetchDepth: 1
      - template: templates/osx.yml
      - template: templates/osx_package.yml
      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: "packages/"
          ArtifactName: 'osx-artifacts'
        displayName: 'Publish OSX Artifacts'
